

<div  *ngFor="let grid of models.gridArray.Grid; let top=index;">
  <div  *ngFor="let row of grid.Row; let left=index">
    <div class="square-map" style="left: {{left*100}}px; top: {{top*100}}px" (click)="createObject(top, left)">
      <span *ngFor="let square of row.Square">
      {{square}}
    </span>
    </div>
  </div>
</div>

<div style="display: none;">
<app-object-menu></app-object-menu>
</div>

<router-outlet></router-outlet>
